@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: center;
}

.profile-picture {
    height: 12rem;
    width: 12rem;

    border: .32rem double;
    border-width: .75rem;
    border-radius: 50%;
}