@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --floofy-black: #1E1E1E;
    --floofy-white: #F9F9F9;
}

body {

    color: var(--floofy-white);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 300;
    /* Background Image Stuff (Scales Image) */
    background: url('../background1.svg') no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
.TITLE {
    font-family: 'Merienda', sans-serif;
}
.OttersParagraph{
    font-size: larger;
}