@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --floofy-black: #1f1f1f;
    --floofy-white: #FaFaFa;
    --void-black: #191919;
}

body {

    color: var(--floofy-white);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 300;
    /* Background Image Stuff (Scales Image) */
    background: url('../background1.svg') no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
a {
    color: var(--floofy-white);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 1mm;
}
.div-header {
    overflow: hidden;
    background-color: var(--void-black);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: xx-large;
    font-weight: 400;
}
.div-header a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.div-header a:hover {
    background-color: var(--floofy-white);
    color: var(--floofy-black);
}

.TITLE {
    font-family: 'Merienda', sans-serif;
}
.ABOUT_ME {
    margin-top: 120px;
    font-family: 'Merienda', sans-serif;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2mm;
    text-underline-offset: 1mm;
}
.NOTE {
    font-style: italic;
    font-weight: 400;
}
.ParagraphThing{
    font-size: larger;
}